In [1]:
# import packages
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 
import numpy as np
import os
import glob

## Read the input

In [5]:
l1 = pd.read_csv('input/MBins_list_1-142.csv', header=None, sep='/')
l1['sample'] = l1[1].str.split('_').str[0]

print('First Set from 1 to 142 samples has ', len(l1['sample'].unique()), ' samples bins')

First Set from 1 to 142 samples has  142  bins

In [8]:
l2 = pd.read_csv('input/MBins_list_143-299.csv', header=None, sep='/')
l2['sample'] = l2[1].str.split('_').str[0]

print('First Set from 142 to 299 samples has ', len(l2['sample'].unique()), ' samples bins')
299-142

First Set from 142 to 299 samples has  155  samples bins

157

In [11]:
l2_in = pd.read_csv('input/MBins_list_143-299_input.csv', header=None, sep='/')
l2_in['sample'] = l2_in[0].str.split('_').str[1]
l2_in

                                 0  sample
0      lab66_V2K00U_E100013123_L01  V2K00U
1      lab66_V388BR_E100010953_L01  V388BR
2      lab66_V3PRGW_E100013128_L01  V3PRGW
3      lab66_V4S8AO_E100013123_L01  V4S8AO
4    lab66_V4SFLT_2_E100013124_L01  V4SFLT
..                             ...     ...
152    lab66_V31FC7_E100013421_L01  V31FC7
153   lab66_V32DY7_E100009772A_L01  V32DY7
154    lab66_V33DNK_E100013458_L01  V33DNK
155    lab66_V349J9_E100015864_L01  V349J9
156    lab66_V35L2C_E100009727_L01  V35L2C

[157 rows x 2 columns]

In [16]:
# Check abcent samples
set(l2['sample'].unique()) ^ set(l2_in['sample'].unique())

{'V4SFLT', 'VN49UR'}

lab66_V4SFLT_2_E100013124_L01
lab68_VN49UR_E100013421_L01

don't have any bins for this saples (even single binners results)

In [19]:
l3 = pd.read_csv('input/MBins_list_300-449.csv', header=None, sep='/')
l3['sample'] = l3[1].str.split('_').str[0]

print('First Set from 300 to 449 samples has ', len(l3['sample'].unique()), 'samples bins')

First Set from 300 to 449 samples has  149 samples bins